body {
    background-color: #fafafa;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

header {
    margin-top: 50px;
}


/*Nav Button Styling --------------------------------*/

nav {
    font-weight: 200;
    display: inline-block;
}

.user {
    width: 35px;
    height: 35px;
    border-radius: 250px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-left: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-nav>li>a {
    padding: 15px 21px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.navbar-nav>li:hover {
    background-color: #7795b4;
    box-shadow: inset 0 -5px 0 #18ad90;
}

.navbar-brand {
    margin-top: 8px;
}

.navbar-form.navbar-right {
    margin-top: 8px;
}

.navbar-embossed.navbar-inverse .navbar-nav .active>a, .navbar-embossed.navbar-inverse .navbar-nav .open>a {
    box-shadow: inset 0 -5px 0 rgba(0,0,0,.15);
}

.dropdown-menu {
    min-width: 130px;
    background-color: #34495e;
}

.dropdown-menu>li>a {
    color: #fff;
}

.dropdown-menu>li>a:hover {
    background-color: #1abc9c;
    color: #fff;
    box-shadow: inset 0 -5px 0 rgba(0,0,0,.15);
}

.today {
    background-color: #34495e;
    color: #eee;
    width: 200px;
    height: 100px;
    margin: 10px;
    float: right;
    clear: both;
}

.day_date {
    padding: 15px 10px 10px;
    font-size: 30px;
    font-style: italic;
}

.cal {
    margin: -20px 30px;
}

#cal {
    margin-right: -40px;
}

.date_number {
    padding: 0px 0px 0px 12px;
    font-size: 44px;
    font-weight: bold;
}

.month_date {
    margin: -15px 0px 0px 0px;
}

small {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.btn.btn-block.btn-lg {
    text-align: center;
    display: block;
    min-width: 180px;
    max-width: 15%;
    border-radius: 0px;
    box-shadow: inset 0 -5px 0 rgba(0,0,0,.15);
}

.btn.btn-block.btn-lg.btn-info:active {
    box-shadow: 0px 2px 0px #3498db;
    position: relative;
    top: 3px;
}

.btn.btn-block.btn-lg.btn-primary:active {
    box-shadow: 0px 2px 0px #3498db;
    position: relative;
    top: 3px;
}

.btn.btn-block.btn-lg.btn-success:active{
    box-shadow: 0px 2px 0px #2ecc71;
    position: relative;
    top: 3px;
}

.btn.btn-block.btn-lg.btn-danger:active{
    box-shadow: 0px 2px 0px #e74c3c;
    position: relative;
    top: 3px;
}

.buttondiv {
    float: left;
    margin-right: 10px;
}

.injuryTable tr:hover td {
            /*Gray background-color: #F0F0F0;*/
            /*BLUE*/
            background-color: #90CBFF;
            font-weight: 800;
            cursor: pointer;
}

.athleteTable tr:hover td {
            /*Gray background-color: #F0F0F0; */
            /*BLUE*/
            background-color: #90CBFF;
            font-weight: 800;
            cursor: pointer;
}

.search {
	width: 45%;
	float: left;
}

.ontop {
    padding-top: 5px;
}

/* Button Styling */
.btn.btn-block {
    min-width: 120px;
    max-width: 200px;
    border-radius: 0px;
    box-shadow: inset 0 -5px 0 rgba(0,0,0,.15);
}


/*Home Page*/

.bulletinboard {
    background: url('../images/bulletin_board.jpg') center center no-repeat;
    background-size: 100% 100%;
}

textarea {
    background: url('../images/notes.png') repeat-y;
    background-position: -50px 0px;
    width: 98%;
    height: 300px;
    line-height: 25px;
    padding: 2px 55px;
    border: solid 1px #ddd;
    resize: none;
}

textarea:focus {
    background: url('../images/notes.png') repeat-y;
    background-position: -50px 0px;
    resize: none;
}

#notes {
    background-color: #f1c40f;
    padding: 0px 0px 20px 10px;
    color: #aaa;
}

#notes h3 {
    color: #2c3e50;
    margin-top: 10px;
}

#reminders li {
    list-style: square;
}


/*Injury Page*/

.modal_Input {
    width: 20%;
}

#addAthlete {
    float: right;
    margin-top: 5px;
}


/*To-Do List*/

#tableList li {
    margin-top: -20px;
    margin-bottom: 30px;
    padding-left: 10px;
    border-radius: 2px;
    list-style: none;
}

input.ng-invalid.ng-dirty {
    box-shadow: 0 0 2px 2px #ed1c24;
    -moz-box-shadow: 0 0 2px 2px #ed1c24;
    -webkit-box-shadow: 0 0 2px 2px #ed1c24;
}

input.ng-dirty.ng-valid.ng-valid-required.ng-valid-minlength {
    box-shadow: 0 0 2px 2px green;
    -moz-box-shadow: 0 0 2px 2px green;
    -webkit-box-shadow: 0 0 2px 2px green;
}


/*AngularJS ngAnimate */
.ng-enter, .ng-leave.ng-leave-active {
    opacity: 0;
}
.ng-leave, .ng-enter.ng-enter-active {
    opacity: 1;
}
.ng-enter {
    -webkit-transition: 2s all;
    transition: 2s all;
}
.ng-leave {
    -webkit-transition: 0.1s all;
    transition: 0.1s all;
}

.flip {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 0;
}

.flip-add {
    margin-left: -150%;
}



/* Dashboard */

#filterSports {
    margin-bottom: 20px;
}

.sportsImage {
    position: relative;
    left: 65px;
}

.bottomBanner {
    padding: 2px 2px 2px 2px;
    background-color: white;
}

.dash_sports_fall {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 4px; /* Chrome, Safari, Opera */
    -moz-column-gap: 4px; /* Firefox */
    column-gap: 4px;
    column-fill: auto;
}

.dash_sports_winter {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 4px; /* Chrome, Safari, Opera */
    -moz-column-gap: 4px; /* Firefox */
    column-gap: 4px;
    column-fill: auto;
}

.dash_sports_spring {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 4px; /* Chrome, Safari, Opera */
    -moz-column-gap: 4px; /* Firefox */
    column-gap: 4px;
    column-fill: auto;
}

.dash_item {
    width: 225px;
    color: white;
    border-radius: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 12px;
}

.dash_boys_basketball {
    background-color: #F39C12;
    padding: 8px;
}

.dash_wrestling {
    background-color: #C0392B;
    padding: 8px;
}

.dash_girls_basketball {
    background-color: #D35400;
    padding: 8px;
}

.dash_girls_volleyball {
    background-color: #16A085;
    padding: 8px;
}

.dash_baseball {
    background-color: #1ABC9C;
    padding: 8px;
}

.dash_track {
    background-color: #27AE60;
    padding: 8px;
}

.dash_softball {
    background-color: #2ECC71;
    padding: 8px;
}

.dash_tennis {
    background-color: #3498DB;
    padding: 8px;
}

.dash_boys_soccer {
    background-color: #2ECC71;
    padding: 8px;
}

.dash_football {
    background-color: #2C3E50;
    padding: 8px;
}

.dash_girls_soccer {
    background-color: #27AE60;
    padding: 8px;
}

.dash_girls_tennis {
    background-color: #2980B9;
    padding: 8px;
}

/* when hiding the picture */
.ng-hide-add {
    animation:0.5s lightSpeedOut ease;
}

/* when showing the picture */
.ng-hide-remove {
    animation:0.5s flipInX ease;
}

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.checkbox-button {
    margin-right: 10px;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}


/* List of Athlete's Page */



/* Page Animations */

.page-todo.ng-enter {
    animation: scaleUp 0.5s both ease-in;
}

.page-todo.ng-leave {
    animation: scaleUp 0.5s both ease-in;
}