body {
    background-color: #fafafa;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

header {
    margin-top: 50px;
}

nav {
    font-weight: 200;
}

nav li {
    position: relative;
    display: inline-block;
    padding-right: 40px;
}

.navbar-form.navbar-right img {
    width: 35px;
    height: 35px;
    border-radius: 250px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-left: 5px;
}

.navbar-form.navbar-right a:hover img {
    border: 1px solid #16a085;
    transition: .25s;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-nav>li>a {
    padding: 15px 21px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.navbar-collapse .navbar-nav.navbar-left:first-child>li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

small {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.btn.btn-block.btn-lg {
    min-width: 30%;
    max-width: 50%;
}

.injuryTable tr:hover td {
            /*Gray background-color: #F0F0F0;*/
            /*BLUE*/
            background-color: #90CBFF;
            font-weight: 800;
}

.athleteTable tr:hover td {
            /*Gray background-color: #F0F0F0; */
            /*BLUE*/
            background-color: #90CBFF;
            font-weight: 800;
}

.search {
	width: 45%;
	float: left;
}

/*Home Page*/

#reminders li {
    list-style: square;
}


/*Injury Page*/

.modal_Input {
    width: 20%;
}

#addAthlete {
    float: right;
    margin-top: 5px;
}


/*To-Do List*/

#tableList li {
    margin-top: -20px;
    margin-bottom: 30px;
    padding-left: 10px;
    border-radius: 2px;
    list-style: none;
}

input.ng-invalid.ng-dirty {
    box-shadow: 0 0 2px 2px #ed1c24;
    -moz-box-shadow: 0 0 2px 2px #ed1c24;
    -webkit-box-shadow: 0 0 2px 2px #ed1c24;
}

input.ng-dirty.ng-valid.ng-valid-required.ng-valid-minlength {
    box-shadow: 0 0 2px 2px green;
    -moz-box-shadow: 0 0 2px 2px green;
    -webkit-box-shadow: 0 0 2px 2px green;
}


/*AngularJS ngAnimate */
.ng-enter, .ng-leave.ng-leave-active {
    opacity: 0;
}
.ng-leave, .ng-enter.ng-enter-active {
    opacity: 1;
}
.ng-enter {
    -webkit-transition: 2s all;
    transition: 2s all;
}
.ng-leave {
    -webkit-transition: 0.1s all;
    transition: 0.1s all;
}

.flip {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 0;
}

.flip-add {
    margin-left: -150%;
}







