body {
    background: #fafafa;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

header {
    margin-top: 20px;
}

nav {
    font-weight: 200;
}

small {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.injuryTable tr:hover td {
            /*Gray background-color: #F0F0F0;*/
            /*BLUE*/
            background-color: #90CBFF;
            font-weight: 800;
}

.athleteTable tr:hover td {
            /*Gray background-color: #F0F0F0; */
            /*BLUE*/
            background-color: #90CBFF;
            font-weight: 800;
}

.search {
	width: 45%; 
	float: left;
}

/*Home Page*/
#notes {

}

#reminders {
	float: right;
	margin-top: -43%;
	width: 35%;

}


/*Injury Page*/

.modal_Input {
    width: 20%;
}







