<!-- Swami Shreeji
Atheletes.html -->
<h1>{{title}} 	<a data-reveal-id="addAthlete" class="btn btn-block btn-lg btn-primary">Add Athlete</a></h1>

<h3>Search: {{search.$}}</h3>
<input type="text" ng-model="search.$" class="search">


<alert type="{{alerts}}">{{alert.message}}</alert>

<table class="table">
	<thead>
		<td style="width: 155px;">Athlete's Name</td>
		<td>Age</td>
		<td>Grade</td>
		<td style="width: 110px;">Phone Number</td>
		<td>Doctor</td>
		<td>Visted Doctor?</td>
		<td>Referred for Therapy?</td>
		<td>School Insurance Form Issued?</td>
		<td>Accident Report Filed?</td>
	</thead>
	<tbody class="athleteTable">
		<tr ng-repeat="person in athletes | filter: search" ng-click="rowClick(person)">
			<td>{{person.name}}</td>
			<td>{{person.age}}</td>
			<td>{{person.grade.value}}</td>
			<td>{{person.number}}</td>
			<td>{{person.doctor}}</td>
			<td>{{person.visitedDoctor.value}}</td>
			<td>{{person.therapy.value}}</td>
			<td>{{person.insuranceForm.value}}</td>
			<td>{{person.reportFiled.value}}</td>
		</tr>
	</tbody>
</table>

<!-- Modal for Adding Athlete -->
<div id="addAthlete" class="reveal-modal large" data-reveal>
	<header>
		<h5>Add Athlete <span style="padding-left: 50px; color: #1abc9c;" ng-bind="athleteName"></span></h5><hr>
	</header>
	<div class="addAthleteModalContent">
		<div class="col-xs-4">
			Athlete Name: <input type="text" id="athleteName" ng-model="athleteName">
			Age: <input type="number" id="age" ng-model="age">
			Grade:
			<select name="grade" id="grade" ng-model="selectedGrade" ng-options="selectedGrade.value for selectedGrade in gradeOptions"></select>
			Phone Number: <input type="tel" id="number" ng-model="number">
		</div>
		<div class="col-xs-4">
			Doctor : <input type="text" id="doctor" ng-model="doctor">
			Doctor's Phone Number <input type="tel" id="doctorNumber" ng-model="doctorNumber">
		</div>
		<div class="col-xs-4">
			Visited Doctor?
			<select name="visitedDoctor" id="visitedDoctor" ng-model="visitedDoctor" ng-options="visitedDoctor.value for visitedDoctor in doctorOptions"></select>
			Referred for Therapy?
			<select name="therapy" id="therapy" ng-model="therapy" ng-options="therapy.value for therapy in therapyOptions"></select>
			School Insurance Form Issued?
			<select name="insuranceForm" id="insuranceForm" ng-model="insuranceForm" ng-options="insuranceForm.value for insuranceForm in insuranceOptions"></select>
			Accident Report Filed?
			<select name="reportFiled" id="reportFiled" ng-model="reportFiled" ng-options="reportFiled.value for reportFiled in reportOptions"></select>
		</div>
	</div><br><hr>
	<a class="close-reveal-modal">&#215;</a>
	<!-- Save and Cancel Buttons -->
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-primary" class="close-reveal-modal" ng-click="saveNewAthlete()">Save Athlete</button>
	</div>
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-default" class="close-reveal-modal" ng-click="cancelButton()">Cancel</button>
	</div>
</div>


<!-- Modal for Editing Athlete -->
<div id="editAthlete" class="reveal-modal large" data-reveal>
	<header>
		<h5>Edit Athlete <span style="padding-left: 50px; color: #1abc9c;">{{person.name}}</span></h5><hr>
	</header>
	<div class="editAthleteModalContent">
		<div class="col-xs-4">
			Athlete Name: <input type="text" ng-model="person.name">
			Age: <input type="number" ng-model="person.age">
			Grade:<select name="grade" id="grade" ng-model="person.grade.value" ng-options="selectedGrade.value as selectedGrade.value for selectedGrade in gradeOptions"></select>
			Phone Number: <input type="tel" ng-model="person.number">
		</div>
		<div class="col-xs-4">
			Doctor : <input type="text" ng-model="person.doctor">
			Doctor's Phone Number <input type="tel" ng-model="person.doctorNumber">
		</div>
		<div class="col-xs-4">
			Visited Doctor?<select name="visitedDoctor" id="visitedDoctor" ng-model="person.visitedDoctor.value" ng-options="visitedDoctor.value as visitedDoctor.value for visitedDoctor in doctorOptions"></select>
			Referred for Therapy?<select name="therapy" id="therapy" ng-model="person.therapy.value" ng-options="therapy.value as therapy.value for therapy in therapyOptions"></select>
			School Insurance Form Issued?<select name="insuranceForm" id="insuranceForm" ng-model="person.insuranceForm.value" ng-options="insuranceForm.value as insuranceForm.value for insuranceForm in insuranceOptions"></select>
			Accident Report Filed?<select name="reportFiled" id="reportFiled" ng-model="person.reportFiled.value" ng-options="reportFiled.value as reportFiled.value for reportFiled in reportOptions"></select>
		</div>
	</div><br><hr>
	<a class="close-reveal-modal" ng-click="closeEditAthleteModal()">&#215;</a>
	<!-- Save and Cancel Buttons -->
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-primary" class="close-reveal-modal" ng-click="updateAthlete(person)">Save Athlete</button>
	</div>
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-default" class="close-reveal-modal" ng-click="closeEditAthleteModal()">Cancel</button>
	</div>
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-danger" ng-click="deleteAthlete()">Delete Athlete</button>
	</div>
</div>