<!-- Swami Shreeji
Atheletes.html -->
<h1>{{title}} 	<a data-reveal-id="addAthlete" class="btn btn-block btn-lg btn-primary">Add Athlete</a></h1>

<h3>Search: {{search.$}}</h3>
<input type="text" ng-model="search.$" class="search">
<table class="table">
	<thead>
		<td style="width: 155px;">Athlete's Name</td>
		<td>Age</td>
		<td>Grade</td>
		<td style="width: 100px;">Doctor</td>
		<td>Phone Number</td>
		<td>Visted Doctor?</td>
		<td>Referred for Therapy?</td>
		<td>School Insurance Form Issued?</td>
		<td>Accident Report Filed?</td>
	</thead>
	<tbody class="athleteTable">
		<tr ng-repeat="athlete in athletes.data | filter: search" ng-click="rowClick(athlete)">
			<td>{{athlete.name}}</td>
			<td>{{athlete.age}}</td>
			<td>{{athlete.grade}}</td>
			<td>{{athlete.doctor}}</td>
			<td>{{athlete.phone}}</td>
			<td>{{athlete.gotoDoctor}}</td>
			<td>{{athlete.therapy}}</td>
			<td>{{athlete.insurance}}</td>
			<td>{{athlete.report}}</td>
		</tr>
	</tbody>
</table>

<!-- Modal for Adding Athlete -->
<div id="addAthlete" class="reveal-modal large" data-reveal>
	<header>
		<h5>Add Athlete <span style="padding-left: 50px; color: #1abc9c;" ng-bind="newAthlete"></span></h5><hr>
	</header>
	<div class="addAthleteModalContent">
		<div class="col-xs-4">
			Athlete Name: <input type="text" id="athleteName" ng-model="newAthlete">
			Age: <input type="number" id="age">
			Grade:
			<select name="grade" id="grade">
				<option value="">Select</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			Phone Number: <input type="tel" id="number">
		</div>
		<div class="col-xs-4">
			Doctor : <input type="text" id="doctor">
			Doctor's Phone Number <input type="tel" id="doctorNumber">
		</div>
		<div class="col-xs-4">
			Visited Doctor?
			<select name="visitedDoctor" id="visitedDoctor">
				<option value="">Select</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
			Referred for Therapy?
			<select name="therapy" id="therapy">
				<option value="">Select</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
			School Insurance Form Issued?
			<select name="insuranceForm" id="insuranceForm">
				<option value="">Select</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
			Accident Report Filed?
			<select name="reportFiled" id="reportFiled">
				<option value="">Select</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
	</div><br><hr>
	<a class="close-reveal-modal">&#215;</a>
	<!-- Save and Cancel Buttons -->
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-primary" class="close-reveal-modal">Save Athlete</button>
	</div>
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-default" class="close-reveal-modal" ng-click="cancelButton()">Cancel</button>
	</div>
</div>

<!-- Modal for Editing Athlete -->
<div id="editAthlete" class="reveal-modal large" data-reveal>
	<header>
		<h5>Edit Athlete <span style="padding-left: 50px; color: #1abc9c;">{{person.name}}</span></h5><hr>
	</header>
	<div class="addAthleteModalContent">
		<div class="col-xs-4">
			Athlete Name: <input type="text" value="{{person.name}}">
			Age: <input type="number" value="{{person.age}}">
			Grade:
			<select name="grade" id="grade">
				<option value="{{person.grade}}">{{person.grade}}</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			Phone Number: <input type="tel" value="{{person.phone}}">
		</div>
		<div class="col-xs-4">
			Doctor : <input type="text" value="{{person.doctor}}">
			Doctor's Phone Number <input type="tel">
		</div>
		<div class="col-xs-4">
			Visited Doctor?
			<select name="visitedDoctor" id="visitedDoctor">
				<option value="{{person.gotoDoctor}}">{{person.gotoDoctor}}</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
			Referred for Therapy?
			<select name="therapy" id="therapy">
				<option value="{{person.therapy}}">{{person.therapy}}</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
			School Insurance Form Issued?
			<select name="insuranceForm" id="insuranceForm">
				<option value="{{person.insurance}}">{{person.insurance}}</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
			Accident Report Filed?
			<select name="reportFiled" id="reportFiled">
				<option value="{{person.report}}">{{person.report}}</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
	</div><br><hr>
	<a class="close-reveal-modal" ng-click="closeEditAthleteModal()">&#215;</a>
	<!-- Save and Cancel Buttons -->
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-primary" class="close-reveal-modal">Save Athlete</button>
	</div>
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-default" class="close-reveal-modal" ng-click="closeEditAthleteModal()">Cancel</button>
	</div>
</div>

<script>
$(document).foundation();
</script>