<!-- Swami Shreeji
Atheletes.html -->
<h1>{{title}} 	<a ui-sref="addAthlete"><button class="btn btn-primary btn-lg" id="addAthlete">Add Athlete</button></a></h1>

<h3>Search: {{search.$}}</h3>
<input type="text" ng-model="search.$" class="search">
<table class="table">
	<thead>
		<td>Athlete's Name</td>
		<td>Age</td>
		<td>Grade</td>
		<td>Doctor</td>
		<td>Phone Number</td>
		<td>Visted Doctor?</td>
		<td>Referred for Therapy?</td>
		<td>School Insurance Form Issued?</td>
		<td>Accident Report Filed?</td>
	</thead>
	<tbody class="athleteTable">
		<tr ng-repeat="person in athletes.players | filter: search">
			<td>{{person.name}}</td>
			<td>{{person.age}}</td>
			<td>{{person.grade}}</td>
			<td>{{person.doctor}}</td>
			<td>{{person.phone}}</td>
			<td>{{person.gotoDoctor}}</td>
			<td>{{person.therapy}}</td>
			<td>{{person.insurance}}</td>
			<td>{{person.report}}</td>
		</tr>
	</tbody>
</table>