<!-- Swami Shreeji
home.html -->
<div class="ontop">
	<div class="col-xs-5">
		<h2>Welcome, <b>Sapan</b></h2>
		<!-- HAVE THIS PROGRESS BAR APPEAR AND DISAPPER WHEN DATA IS LOADING -->
		<div class="progress">
			<div id="bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><span></span></div>
		</div>
	</div>

	<!-- Sports Filter By Season -->
	<div class="col-xs-4">
		<h3>{{ sportsModel || 'All Sports'}}</h3>
		<div class="btn-group" id="filterSports">
		        	<label class="btn btn-primary" ng-model="sportsModel" ng-click="allSportsShow()" ng-class="{ active: allSports }" btn-radio="'All Sports'">All Sports</label>
	        		<label class="btn btn-primary" ng-model="sportsModel" ng-click="fallSportsShow()" ng-class="{ active: fallSports }" btn-radio="'Fall'">Fall</label>
	        		<label class="btn btn-primary" ng-model="sportsModel" ng-click="winterSportsShow()" ng-class="{ active: winterSports }" btn-radio="'Winter'">Winter</label>
	       		<label class="btn btn-primary" ng-model="sportsModel" ng-click="springSportsShow()" ng-class="{ active: springSports }" btn-radio="'Spring'">Spring</label>
	   	 </div>
	</div>

	<div class="col-xs-3">
		<div class="today">
			<div class="row">
				<div class="col-xs-6">
					<div class="day_date"></div>
					<div class="cal"><span class="fui-calendar-solid"></span></div>
				</div>
				<div class="col-xs-6">
					<div class="date_number"></div><div class="month_date"><em></em></div>
				</div>
			</div>
		</div>
	</div><br>
	<div class="col-xs-5">

	</div>
	<div class="col-xs-7"></div>

</div><hr>

<div class="dash_sports">
	<div class="dash_sports_winter" ng-show="winterSports">
		<div class="dash_item">
			<div class="dash_boys_basketball">
				<p>Boys Basketball</p>
			 	<img class="sportsImage" src="../images/sports/basketball.png" alt="Boys Basketball">
			 	<h5>18</h5>
			 	<h5>3</h5>
			 	<div class="bottomBanner"></div>
			 </div>
		</div>
		<div class="dash_item">
			<div class="dash_wrestling">
				<p>Wrestling</p>
			 	<img class="sportsImage" src="../images/sports/wrestling.png" alt="Wrestling">
				<h5>45</h5>
				<h5>10</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
		<div class="dash_item">
			<div class="dash_girls_basketball">
				<p>Girls Basketball</p>
			 	<img class="sportsImage" src="../images/sports/basketball.png" alt="Girls Basketball">
				<h5>12</h5>
				<h5>1</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
		<div class="dash_item">
			<div class="dash_girls_volleyball">
				<p>Girls Volleyball</p>
			 	<img class="sportsImage" src="../images/sports/volleyball.png" alt="Girls Volleyball">
				<h5>16</h5>
				<h5>0</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
	</div><div class="space"><br><hr><br></div>
	<div class="dash_sports_spring" ng-show="springSports">
		<div class="dash_item">
			<div class="dash_baseball">
			 	<p>Baseball</p>
			 	<img class="sportsImage" src="../images/sports/baseball.png" alt="Baseball">
			 	<h5>25</h5>
			 	<h5>6</h5>
			 	<div class="bottomBanner"></div>
			 </div>
		</div>
		<div class="dash_item">
			<div class="dash_track">
				<p>Track & Field</p>
			 	<img class="sportsImage" src="../images/sports/runner.png" alt="Track & Field">
				<h5>45</h5>
				<h5>4</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
		<div class="dash_item">
			<div class="dash_softball">
				<p>Softball</p>
			 	<img class="sportsImage" src="../images/sports/softball.png" alt="Softball">
				<h5>18</h5>
				<h5>4</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
		<div class="dash_item">
			<div class="dash_tennis">
				<p>Boys Tennis</p>
			 	<img class="sportsImage" src="../images/sports/tennis.png" alt="Boys Tennis">
				<h5>12</h5>
				<h5>0</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
	</div><div class="space"><br><hr><br></div>
	<div class="dash_sports_fall" ng-show="fallSports">
		<div class="dash_item">
			<div class="dash_boys_soccer">
				<p>Boys Soccer</p>
			 	<img class="sportsImage" src="../images/sports/soccer.png" alt="Boys Soccer">
			 	<h5>25</h5>
			 	<h5>6</h5>
			 	<div class="bottomBanner"></div>
			 </div>
		</div>
		<div class="dash_item">
			<div class="dash_football">
				<p>Football</p>
			 	<img class="sportsImage" src="../images/sports/football.png" alt="Football">
				<h5>45</h5>
				<h5>4</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
		<div class="dash_item">
			<div class="dash_girls_soccer">
				<p>Girls Soccer</p>
			 	<img class="sportsImage" src="../images/sports/soccer.png" alt="Girls Soccer">
				<h5>18</h5>
				<h5>4</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
		<div class="dash_item">
			<div class="dash_girls_tennis">
				<p>Girls Tennis</p>
			 	<img class="sportsImage" src="../images/sports/tennis.png" alt="Girls Tennis">
				<h5>12</h5>
				<h5>0</h5>
			 	<div class="bottomBanner"></div>
			</div>
		</div>
	</div><div class="space"><br><hr><br></div>
</div>

<!--
<div class="bulletinboard">

	<div id="notes" class="col-md-6">
		<h3>Notes Area</h3>
		<textarea rows="12" ng-model="userNotes"></textarea>
		<button class="btn btn-block btn-lg btn-info" ng-click="saveNotes(userNotes)" style="margin: 0px 10px 0px 10px;">Save</button>
	</div>

	<form id="reminders" class="col-md-6">
		<h3>Reminders: ({{counter + 1}})</h3>
		<input type="text" required ng-minlength=3 ng-model="userReminder">
			<button class="btn btn-block btn-lg btn-success" ng-click="addReminder(userReminder)">Add Reminder</button>
			<button class="btn btn-block btn-lg btn-info" ng-click="saveReminders()">Save Reminders</button><br><br>
		<table>
			<li class="alert alert-warning" ng-repeat="r in reminder">{{ r.r }}</li>
		</table>
	</form>

</div> -->