<!-- Swami Shreeji
injuries.html -->

<h1>{{title}}</h1>
<table class="table">
	<thead>
		<td><h4>Athlete</h4></td>
		<td><h4>Injury</h4></td>
		<td><h4>Description</h4></td>
		<td><h4>Date</h4></td>
		<td><h4>Action</h4></td>
	</thead>
	<tbody class="injuryTable">

		<!-- Panel Heading -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Search: {{search.$}}</h3>
			</div>
			<div class="panel-body">
				<input type="text" ng-model="search.$" class="search">
			</div>
		</div>
		<!-- Table Data -->
		<tr ng-repeat="injury in injuries.data | filter:search">
			<td>{{injury.name}}<span style="margin-left: 30px;" class="glyphicon glyphicon-arrow-right"</td>
			<td>{{injury.injury}}<span style="margin-left: 30px;" class="glyphicon glyphicon-arrow-right"</td>
			<td>{{injury.description}}<span style="margin-left: 30px;" class="glyphicon glyphicon-arrow-right"</td>
			<td>{{injury.date}}</td>
			<td><a data-reveal-id="myModal" class="btn btn-block btn-primary" ng-click="rowClick(injury)"><span class="glyphicon glyphicon-pencil"></span></a></td>
		</tr>
	</tbody>
</table>


	<!-- Modal for Editing Player Injury-->
	<div id="editInjury" class="reveal-modal large" data-reveal>
	<header>
		<h5>Edit Injury</h5><hr>
	</header>
	<div class="col-xs-6">
		<h6><b>Athlete's Name</b>:  {{injury.name}}</h6>
		<h6>Injury:</h6> <input type="text" style="width: 50%;" value="{{injury.injury}}">
	</div>
	<div class="col-xs-6">
		<h6 style="margin-top: 50px;">Date:</h6> <input type="date" style="width: 35%;" value="{{injury.date}}">
	</div>
	<div class="col-xs-12">
		<h6>Description:</h6> <textarea cols="30" rows="5">{{injury.description}}</textarea>
	</div>
	<a class="close-reveal-modal" ng-click="closeEditInjuryModal()">&#215;</a><hr>

	<!-- Save and Cancel Buttons -->
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-primary" class="close-reveal-modal">Save Athlete</button>
	</div>
	<div class="buttondiv">
		<button class="btn btn-block btn-lg btn-default" class="close-reveal-modal" ng-click="closeEditInjuryModal()">Cancel</button>
	</div>
	</div>

<script>
$(document).foundation();
</script>