<!-- Swami Shreeji
Nav.html -->

	<nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
					<span class="sr-only">Toggle Navigation</span>
				</button>
				<a ui-sref-active="active" ui-sref="home" class="navbar-brand">Athletic Training</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-01">
				<div class="navbar-form navbar-left">
					<ul class="nav navbar-nav">
						<li ui-sref-active="active"><a ui-sref="home"><span class="fui-home"></span> Dashboard</a></li>
						<li ui-sref-active="active"><a ui-sref="athletes"><span class="fui-user"></span> Athletes</a></li>
						<li ui-sref-active="active"><a ui-sref="injury"><span class="fui-eye"></span> Injuries</a></li>
						<li ui-sref-active="active"><a ui-sref="to-do"><span class="fui-new"></span> To-Do</a></li>
						<li ui-sref-active="active"><a ui-sref="about"><span class="fui-info-circle"></span> About</a></li>
					</ul>
				</div>
				<div class="navbar-form navbar-right">
					<div class="dropdown">
						<a href="#" class="dropdown-toggle"><span class="fui-user"> Danielle<span class="caret"></span> <img class="user" src="../images/users/danielle.jpg"></a>
						<ul class="dropdown-menu">
							<li><a href="#">Account Settings <span class="fui-gear"></span></a></li>
							<li class="divider"></li>
							<li><a href="../index.html" class="logout">Log Out <span class="fui-exit"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>