<!-- Swami Shreeji
Nav.html -->
<nav>
<h1 class="jumbotron">Athletic Training Web Application <br/>	
	<small>Designed Using AnuglarJS</small></h1>
<!--	<ul class="button-group left">
	    <li><a ui-sref="home" class="button">Home</a></li>	    
	    <li><a ui-sref="database" class="button">Athletes</a></li>
	    <li><a ui-sref="to-do" class="button">To-Do</a></li>
	</ul> -->

	<ul class="nav nav-pills right">
	    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
	    <li ui-sref-active="active"><a ui-sref="athletes">Athletes</a></li>
	    <li ui-sref-active="active"><a ui-sref="injury">Injuries</a></li>
	    <li ui-sref-active="active"><a ui-sref="to-do">To-Do</a></li>
	    <li ui-sref-active="active"><a ui-sref="about">About</a></li>
	</ul><br><br><br>

	<!-- HAVE THIS PROGRESS BAR APPEAR AND DISAPPER WHEN DATA IS LOADING -->
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
			<span>45% Complete</span>
		</div>
	</div>
</nav>