<!-- Swami Shreeji
to-do.html -->
<h1>{{title}}</h1>

<!-- Input Task -->
<div class="col-xs-6">
	<form name="listForm" id="listForm" novalidate>
		<p>To-Do List</p>
		<div class="alert alert-danger" ng-show="noTask !== undefined">{{ noTask }}</div>
		<input class="form-control" id="resource" placeholder="Resource" type="text" required ng-minlength=3 ng-model="user">
		<input class="form-control" id="task" placeholder="Task" type="text" required ng-minlength=3 ng-model="task">
	<button class="btn btn-primary" id="addTask" ng-click="addTask(user, task)">Add Task</button>
	<button class="btn btn-danger" ng-click="removeLast()">Delete Task</button>
	<button class="btn btn-warning" ng-click="clearList()">Clear List</button>
	</form>
</div>

<!-- List of Tasks -->
<div class="col-xs-6" id="tableList">
	<p>Task List: </p>
		<table class="table">
			<div class="alert alert-warning" ng-show="status !== undefined">{{ status }}</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="item in todo" class="bg-primary">{{item.user}} | {{item.task}} </li>
				</ul>
			</div>
		</table>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>